<mat-sidenav-container class="sidenav">
    <a class="sidenav-item"
        [routerLink]="['/tournaments']"
        [routerLinkActive]="['is-active']">
        All tournaments
    </a>
    <a class="sidenav-item"
        [routerLink]="['/app/tournaments']"
        [routerLinkActive]="['is-active']">
        Your tournaments
    </a>
    <a class="sidenav-item"
        [routerLink]="['/app/participant']"
        [routerLinkActive]="['is-active']">
        Participating
    </a>
</mat-sidenav-container>