<button mat-raised-button color="primary" [routerLink]="'/app/tournaments/add'" style="margin-bottom: 1rem;"><mat-icon>add_circle</mat-icon> Add tournament</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!loading">
    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{((paginationResponse.current_page-1) * paginationResponse.per_page) + i+1}} </td>
      </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Tournament date</th>
        <td mat-cell *matCellDef="let element"> {{element.time | date:'dd.MM.YYYY HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="registration_time">
        <th mat-header-cell *matHeaderCellDef>Register deadline</th>
        <td mat-cell *matCellDef="let element"> {{element.registration_time | date:'dd.MM.YYYY HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="max_participants">
        <th mat-header-cell *matHeaderCellDef>Max # of participants</th>
        <td mat-cell *matCellDef="let element"> {{element.max_participants}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="'/tournaments/'+element.id"><mat-icon>open_in_new_window</mat-icon></button>
            <button mat-icon-button [routerLink]="'/app/tournaments/edit/'+element.id"><mat-icon>edit</mat-icon></button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator *ngIf="paginationResponse"
            class="paginator mat-elevation-z2"
            [length]="paginationResponse.total"
            [pageSize]="10"
            [pageIndex]="paginationResponse.current_page-1"
            (page)="pageChanged($event)"
            aria-label="Select page">
</mat-paginator>
  
  