<app-alert *ngIf="showAlert" [type]="responseType" [message]="responseMessage" (isOpened)="showAlert=$event"></app-alert>

<mat-card *ngIf="!loading">
    <mat-card-header>
        <mat-card-title>
            <div class="row">
                <button mat-icon-button color="primary" (click)="goBack()"><mat-icon>arrow_back_ios</mat-icon></button>
                <h2 style="margin: 0;">{{tournament.name}}</h2>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Tournament takes place:{{tournament.time | date:'YYYY-MM-dd HH:mm'}}</p>
        <p>Registration due date: {{tournament.registration_time | date:'YYYY-MM-dd HH:mm'}}</p>
        <p>Max number of participants: {{tournament.max_participants}}</p>
        <p>Number of ranked participants: {{tournament.numOfRankedParticipants}}</p>
        <p>Discipline: {{tournament.discipline.name}}</p>

        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" [src]="link" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="takePart()" [disabled]="registerDeadline < now">Take part</button>
    </mat-card-actions>
</mat-card>
