<app-alert *ngIf="showAlert" [type]="responseType" [message]="responseMessage" (isOpened)="showAlert=$event"></app-alert>

<form [formGroup]="resetPasswordForm" (ngSubmit)="send()" class="form">
    <h1>Forgot password?</h1>
    <h4 style="margin-bottom: 2rem;">Give us your email, then we will send you link for resetting your password.</h4>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Email"/>
    </mat-form-field>
    
    <button mat-raised-button color="primary" class="button-1 col-12" [disabled]="!isFormValid() || loading" [class.loading]="loading">Send</button>
    <span style="margin-top: 1rem;">Do you know your password?<button type="button" mat-button color="primary" [routerLink]="['/login']">Login here</button></span>
</form>