<app-alert *ngIf="showAlert" [type]="responseType" [message]="responseMessage" (isOpened)="showAlert=$event"></app-alert>

<form [formGroup]="resetPasswordForm" (ngSubmit)="send()">
    <div class="input-group mb-4">
        <input type="email" class="form-control" formControlName="email" placeholder="Email">
    </div>

    <div class="input-group mb-4">
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
    </div>

    <div class="input-group mb-4">
        <input type="password" class="form-control" formControlName="password_confirmation" placeholder="Password confirmation">
    </div>
    
    <button class="button-1 col-12" (click)="goToLogin()">Go to login page</button>
    <button class="button-1 col-12" [disabled]="!isFormValid() || loading" [class.loading]="loading">Send</button>
</form>